.BlocksToc {
  top: calc(var(--header-height) + 16px);
}

.tb-blockTitle {
  scroll-margin-top: calc(var(--header-height) + 16px);
}

.BlocksToc-inner {
  background-color: var(--white);
  border-radius: rem-convert(10px);
  padding: rem-convert(16px) rem-convert(24px);
}

.BlocksToc-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    min-height: rem-convert(56px);
    border-bottom: 1px solid var(--grey-lighter);

    &:last-child {
      border-bottom: none;
    }
  }
}

.BlocksToc-link {
  flex: 1;
  padding: rem-convert(12px) rem-convert(8px);
  color: var(--black);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 2px solid var(--theme);
    outline-offset: 2px;
  }
}
