.Pagination {
  &-list {
    display: flex;
    align-items: center;
    gap: rem-convert(12px);
  }

  &-item {
    @apply typo-button-medium;
    color: var(--black);
    text-decoration: none;
    min-width: rem-convert(45px);
    height: rem-convert(45px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: rem-convert(8px);

    a&:hover {
      background-color: var(--grey-lightest);
      color: var(--grey);
    }

    &:focus-visible {
      outline: var(--theme-medium) solid 2px;
    }

    &--active {
      color: var(--theme-dark);
    }
  }

}
