.CheckoutSteps {
  background: var(--theme-lightest);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--theme-medium);
  padding: 0 20px;
  height: rem-convert(60px);
  justify-content: space-between;
}

.CheckoutSteps-steps {
  display: flex;
  align-items: center;
}

.CheckoutSteps-mobile {
  display: block;
}

@screen xs {
  .CheckoutSteps {
    justify-content: center;
    padding: 0;
    height: rem-convert(98px);
  }

  .CheckoutSteps-mobile {
    display: none;
  }

  .CheckoutSteps-steps {
    gap: rem-convert(60px);
  }
}

.Step {
  @apply paragraph-4;
  align-items: center;
  gap: rem-convert(6px);
  position: relative;
  color: var(--grey);
  display: none;
}

.Step-label {
  display: none;
}

.Step-number {
  height: rem-convert(24px);
  width: rem-convert(24px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--theme-medium);
}

.Step-number:after {
  content: '';
  position: absolute;
  height: rem-convert(27px);
  width: rem-convert(27px);
  border-radius: 50%;
  background: conic-gradient(
    var(--theme-medium) 0% var(--p),
    /* Bordure couvrant 25% */ transparent var(--p) 100% /* Reste transparent */
  );
  -webkit-mask: radial-gradient(
    circle,
    transparent calc(50% - 1px),
    black calc(50% - 1x)
  ); /* Bordure de 2px env */
  mask: radial-gradient(
    circle,
    transparent calc(50% - 1px),
    black calc(50% - 1px)
  );
  z-index: 5;
}

@screen xs {
  .Step-number:after {
    content: none;
  }
}

.Step.current {
  display: flex;
  color: var(--grey-dark);
}

.Step.current .Step-label {
  display: inline-block;
  @apply paragraph-4;
  font-weight: 600;
  padding-left: rem-convert(6px);
}

.Step.previous .Step-number {
  background-color: var(--theme-light);
}

@screen md {
  .Step-label {
    display: inline-block;
  }
}

@screen xs {
  .Step {
    display: flex;
  }
  .Step.current {
    color: var(--black);
  }
  .Step.current .Step-number {
    background-color: var(--theme-medium);
  }
  .Step.current .Step-label {
    font-weight: 400;
    padding-left: rem-convert(2px);
  }

  .Step:not(:first-child):before {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    left: -50px;
    background-color: var(--theme-medium);
  }
}
