@utility langSelect {
  height: 100%;
  display: none;
  align-items: stretch;
  position: relative;

  @media (width >= theme(--breakpoint-md)) {
    display: flex;
  }

  &.is-open .langSelect-current {
    background-color: var(--color-grey-lightest);
  }

  &.is-open .langSelect-list {
    display: flex;
    opacity: 1;
  }
}

@utility langSelect-current {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 0 16px 16px;

  @media (width >= theme(--breakpoint-md)) {
    font-size: 0;
  }

  @media (width >= theme(--breakpoint-lg)) {
    font-size: inherit;
  }

  &:hover {
    background-color: var(--color-grey-lightest);
  }

  &:focus {
    background-color: var(--color-grey-lightest);
  }

  &:focus-visible {
    background-color: var(--color-grey-lightest);
  }

  &:focus-visible {
    outline: 1px solid var(--color-black);
    outline-offset: -1px;
  }

  .langSelect.is-open & {
    background-color: var(--color-grey-lightest);
  }
}

@utility langSelect-flag {
  width: 18px;
  aspect-ratio: 1/1;
  display: inline-block;
  flex-shrink: 0;
}

@utility langSelect-list {
  display: none;
  transition-property: opacity, display;
  transition-behavior: allow-discrete;
  transition-duration: 0.15s;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-10px, 2px);
  background-color: white;
  padding: 8px;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0px 0px 8px 0px rgba(84, 84, 84, 0.15);
  width: 200px;

  .langSelect.is-open & {
    display: flex;
    opacity: 1;
  }
}

@utility langSelect-lang {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  width: 100%;
  text-decoration: none;

  &:hover {
    background-color: var(--color-grey-lightest);
  }

  &:focus {
    background-color: var(--color-grey-lightest);
  }

  &.active {
    background-color: var(--color-grey-lightest);
  }

  &:focus-visible {
    background-color: var(--color-grey-lightest);
  }
}

@utility active {
  & .langSelect-lang {
    background-color: var(--color-grey-lightest);
  }
}

@utility langSelect-check {
  color: var(--color-black);
  width: 16px;
  aspect-ratio: 1/1;
  margin-left: auto;
}

@utility is-open {
  &.langSelect .langSelect-current {
    background-color: var(--color-grey-lightest);
  }

  &.langSelect .langSelect-list {
    display: flex;
    opacity: 1;
  }
}
