.LangSelect {
  height: 100%;
  display: none;
  align-items: stretch;
  position: relative;

  @screen md {
    display: flex;
  }

  &-current {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 16px 0 16px 16px;

    @screen md {
      font-size: 0;
    }

    @screen lg {
      font-size: inherit;
    }
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--grey-lightest);
    }

    &:focus-visible {
      outline: 1px solid var(--black);
      outline-offset: -1px;
    }
  }

  &-flag {
    width: 18px;
    aspect-ratio: 1/1;
    display: inline-block;
    flex-shrink: 0;
  }
  &-list {
    display: none;
    transition-property: opacity, display;
    transition-behavior: allow-discrete;
    transition-duration: 0.15s;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-10px, 2px);
    background-color: white;
    padding: 8px;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 0px 8px 0px rgba(84, 84, 84, 0.15);
    width: 200px;
  }

  &-lang {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    width: 100%;
    text-decoration: none;
    &:hover,
    &:focus,
    &.active,
    &:focus-visible {
      background-color: var(--grey-lightest);
    }
  }

  &-check {
    color: var(--black);
    width: 16px;
    aspect-ratio: 1/1;
    margin-left: auto;
  }

  &.is-open {
    .LangSelect-current {
      background-color: var(--grey-lightest);
    }
    .LangSelect-list {
      display: flex;
      opacity: 1;
    }
  }

  &-mobileList {
    list-style: none;
    padding: 0;
  }

  &-mobileItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    margin-bottom: 2px;
    height: 72px;
    border-radius: 8px;
    color: var(--black);
    text-decoration: none;
    transition: background-color 0.15s ease;

    @apply paragraph-2 paragraph--semibold;

    &:hover,
    &:focus {
      background-color: var(--grey-lightest);
    }

    &.active {
      background-color: var(--grey-lightest);

      .LangSelect-check {
        color: var(--theme);
      }
    }

    .LangSelect-flag {
      @apply rounded-full;
      width: 24px;
      height: 24px;
    }

    .LangSelect-check {
      margin-left: auto;
      width: 24px;
      height: 24px;
      color: var(--theme);
    }
  }
}
