@layer components {
  .AccountHero {
    background: var(--color-theme-lighter);
    display: flex;
    flex-direction: column;
  }

  .AccountHero-breadcrumb {
    @apply pt-5 md:px-12.5 px-[calc(var(--margin-container)*1px)];
  }

  .AccountHero-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid var(--color-black);
    align-items: stretch;
    max-width: 500px;

    @variant sm {
      flex-direction: row;
    }
  }

  .AccountHero-links .button {
    border-radius: 0;
    border: none;
    border-right: 1px solid var(--color-black);
  }

  .AccountHero-links:last-child .button {
    border-right: none;
  }

  .AccountHero-links {
    border-radius: 0;
    border: none;
    border-right: 1px solid var(--color-black);
  }

  .AccountHero-links:last-child {
    border-right: none;
  }
}
