.SearchItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  text-decoration: none;
  cursor: pointer;


  .SearchItem-title {
    @apply paragraph-2;
    font-weight: 800;
    color: var(--black);
  }

  .SearchItem-desc {
    padding: 0 rem-convert(19px);
  }

  .SearchItem-price {
    @apply paragraph-1;
    color: var(--black);
    position: relative;
    margin-top: 0;
    font-size: rem-convert(14px);
    line-height: rem-convert(20px);
    font-weight: 400;
  }

  &-originalPrice {
    color: var(--black);
    font-size: var(--font-size-paragraph-7);
    text-decoration-line: line-through;
    font-family: var(--font-family-paragraph-6);
  }

  .SearchItem-footer {
    margin-top: 3px;
  }

  .SearchItem-pricePromo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
  }

  &:hover,
  &:focus-visible {
    background: var(--grey-lightest);
  }


  &--horizontal {
    display: flex;
    flex-direction: row;
    max-width: 331px;
    align-items: center;

    .SearchItem-mainContent {
      display: flex;
      align-items: center;
    }

    .SearchItem-img {
      height: 97px;
      width: 97px;
    }

    .SearchItem-desc {
      margin-right: auto;
    }
  }
  &--vertical {
    max-width: 185px;

    .SearchItem-desc {
      padding: rem-convert(8px) rem-convert(13px);
    }

    .SearchItem-img {
      height: 185px;
      width: 100%;
    }
  }
}
