.Tab {
  @apply typo-button-large;
  text-align: center;
  outline: var(--color-black) solid 1px;
  color: var(--color-black);
  padding: rem-convert(12px) rem-convert(24px);
  display: inline-flex;
  align-items: center;
  gap: rem-convert(6px);
  transition: 0.2s ease all;
}

.Tab:hover:not(:focus):not([disabled]) {
  background: var(--color-black);
  color: var(--color-white);
}

.Tab:hover:focus-visible {
  color: var(--grey-dark);
}

.Tab:active:not([disabled]) {
  background: var(--color-black);
  color: var(--color-white);
}

.Tab:active:hover {
  background: var(--grey-dark);
}

.Tab:active:hover:not(:focus) {
  background: var(--grey-dark);
  outline-color: var(--grey-dark);
}

.Tab:focus-visible {
  outline: var(--color-theme-medium) solid 2px;
}

.Tab[disabled] {
  outline-color: var(--color-grey-lighter);
  color: var(--color-grey-lighter);
  cursor: not-allowed;
}

.Tab[disabled]:active {
  background-color: var(--color-grey-lighter);
  color: var(--color-white);
}

.Tab--small {
  @apply typo-button-small;
  padding: rem-convert(10px) rem-convert(12px);
}

.Tab--small .Tab-icon {
  width: rem-convert(18px);
  height: rem-convert(18px);
}

.Tab-icon {
  width: rem-convert(24px);
  height: rem-convert(24px);
  display: flex;
}
