.CartItemDelete {
  border-radius: 8px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: var(--grey-lightest);
  overflow: hidden;
  padding: 8px 20px 8px 8px;
  max-width: 334px;
  height: fit-content;
  top: 30px;
  right: 30px;
  left: auto;
  @screen sm {
    max-width: 540px;
  }
  &-mainContent {
    display: flex;
    margin-bottom: 5px;
    column-gap: 18px;
    align-items: center;
    flex-direction: row;
  }
  &-img {
    display: flex;
    height: 88px;
    img {
      object-fit: cover;
    }
  }
  &-iconClose {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 23px;
    cursor: pointer;
  }
  &-desc {
    flex-grow: 1;
    padding: 0;
    padding-top: 10px;
    align-items: center;

    @screen sm {
      padding: 0;
      padding-right: 8px;
    }
  }

  &-message {
    font-family: 'Roboto';
    font-size: rem-convert(14px);
    line-height: rem-convert(20px);
    padding-bottom: rem-convert(6px);
  }


  &-progressBar {
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--grey-lighter);
    &Inner {
      background-color: var(--grey-dark);
      height: 100%;
      animation: progressBar var(--duration) linear;
      animation-fill-mode:both;
    }
  }


  @keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
