.DeliveryTracking {
  border-radius: rem-convert(8px);
  border: 1px solid var(--color-theme-medium);
  background: var(--color-theme-lightest);
  padding: rem-convert(24px) rem-convert(32px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.DeliveryTracking-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DeliveryTracking-title {
  @apply paragraph-2;
  font-weight: 700;
  color: var(--color-black);
  padding-bottom: rem-convert(4px);
}

.DeliveryTracking-desc {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: rem-convert(14px);
  line-height: rem-convert(20px);
}

.DeliveryTracking-steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DeliveryTracking-step {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.DeliveryTracking-step:not(:last-child):after {
  content: '';
  position: absolute;
  top: 20px;
  left: 8px;
  height: 24px;
  width: 1px;
  background-color: var(--color-theme);
}

.DeliveryTracking-icon {
  display: block;
  width: 16px;
  height: 16px;
  color: var(--color-theme);
  border: 1px solid currentColor;
  border-radius: 50%;
}

.DeliveryTracking-icon svg {
  color: currentColor;
}
