.FieldNumber {
  display: flex;
  flex-direction: column;
  gap: rem-convert(4px);
}

.FieldNumber-input {
  @apply paragraph-4;
  border: 1px solid var(--theme-medium);
  border-radius: 8px;
  color: var(--black);
  padding: rem-convert(16px) rem-convert(10px);
  transition: 0.2s ease all;
  width: rem-convert(48px);
  text-align: center;
}

.FieldNumber-input:hover {
  background-color: var(--theme-lightest);
}

.FieldNumber-input:focus-visible {
  outline-offset: 2px;
  outline: 1px solid var(--theme);
}

.FieldNumber-input--filled {
  border-color: var(--theme);
}

.FieldNumber input[type='number']::-webkit-inner-spin-button,
.FieldNumber input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

.FieldNumber--error .FieldNumber-input {
  border: 1px solid var(--error-light);
  color: var(--error);
}

.FieldNumber--error .FieldNumber-input:hover {
  background-color: var(--error-lightest);
}

.FieldNumber--error .FieldNumber-input:focus-visible {
  outline: 1px solid var(--error-dark);
}

.FieldNumber--error ::placeholder {
  color: var(--error);
}

.FieldNumber-error {
  @apply paragraph-5;
  color: var(--error-dark);
  font-style: italic;
}

.FieldNumber[disabled] .FieldNumber-input {
  border: 1px solid var(--grey);
  color: var(--grey);
  cursor: not-allowed;
  background-color: var(--grey-lightest);
}

.FieldNumber[disabled] ::placeholder {
  color: var(--grey);
}

.FieldNumber ::placeholder {
  color: var(--grey-dark);
  font-style: italic;
}
