.DeliveryMode {
  background: var(--color-theme-lightest);
  border: 1px solid var(--color-theme-lightest);
  border-radius: rem-convert(8px);
}

.DeliveryMode.checked,
.DeliveryMode.selected {
  background: var(--color-theme-lighter);
  border: 1px solid var(--color-theme-medium);
}

.DeliveryMode label {
  cursor: pointer;
}

.DeliveryMode-title {
  @apply paragraph-2;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: rem-convert(2px);
}

.DeliveryMode-description {
  @apply paragraph-6;
  font-weight: 400;
  color: var(--color-grey);
}

.DeliveryMode-price {
  @apply paragraph-4;
  font-weight: 600;
  color: var(--color-black);
}

.DeliveryMode-content {
  display: flex;
  align-items: flex-start;
  padding: rem-convert(16px);
}

.DeliveryMode-content span:not(.Tag) {
  display: block;
}

.DeliveryMode-content > span:last-child {
  flex-grow: 1;
}

.DeliveryMode-content .radio {
  margin-top: 4px;
  margin-right: 8px;
  visibility: hidden;
  max-width: 0;
}

@media (width >= theme(--breakpoint-md)) {
  .DeliveryMode-content .radio {
    visibility: visible;
    max-width: initial;
  }
}
