.DeliveryMode {
  background: var(--theme-lightest);
  border: 1px solid var(--theme-lightest);
  border-radius: rem-convert(8px);

  &.checked,
  &.selected {
    background: var(--theme-lighter);
    border: 1px solid var(--theme-medium);
  }

  label {
    cursor: pointer;
  }

  &-title {
    @apply paragraph-2;
    font-weight: 600;
    color: var(--black);
    margin-bottom: rem-convert(2px);
  }

  &-description {
    @apply paragraph-6;
    font-weight: 400;
    color: var(--grey);
  }

  &-price {
    @apply paragraph-4;
    font-weight: 600;
    color: var(--black);
  }

  &-content {
    display: flex;
    align-items: stretch;
    padding: rem-convert(16px);
    span:not(.Tag) {
      display: block;
    }
    > span:last-child {
      flex-grow: 1;
    }
  }
}
