.StoreDelivery.checked {
  background: var(--color-theme-lighter);
  border: 1px solid var(--color-theme-medium);
}
.StoreDelivery-content
  span:not(.StoreDelivery-address):not(.StoreDelivery-address span) {
  display: block;
}
.StoreDelivery-bottom {
  padding: 1rem 1rem 1rem 2rem;
  background-color: var(--color-theme-lightest);
}
.StoreDelivery-hoursListing {
  margin-top: rem-convert(16px);
  padding-top: rem-convert(16px);
  @apply paragraph-5;
}
.StoreDelivery-hoursListing td:first-child {
  padding-right: rem-convert(40px);
  font-weight: 700;
}
.StoreDelivery-hours {
  display: flex;
  gap: rem-convert(6px);
  align-items: center;
  text-decoration: underline;
  padding: 0;
  color: var(--grey-dark);
}
.StoreDelivery-opening,
.StoreDelivery-address {
  padding-top: rem-convert(13px);
  @apply paragraph-4;
  font-weight: 400;
  color: var(--grey-dark);
}
.StoreDelivery-opening {
  display: flex;
  align-items: center;
}
.StoreDelivery-opening:before {
  content: '';
  display: inline-block;
  width: rem-convert(9px);
  height: rem-convert(9px);
  border-radius: 999px;
  background: var(--color-success-dark);
  margin-right: rem-convert(4px);
}
.StoreDelivery-opening.closed:before {
  background: var(--color-error-dark);
}
