.Shortcut {
  padding: 0 rem-convert(16px);
  width: 100%;
  max-width: 340px;
  height: 56px;
  text-align: left;
  font-size: rem-convert(20px);
  line-height: rem-convert(28px);
  font-weight: 400;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-lighter);
  transition: 0.2s;
}

.Shortcut > span {
  color: var(--black);
}

.Shortcut:hover {
  background-color: var(--grey-lightest);
}

.Shortcut:focus-visible {
  outline: var(--theme-medium) solid 1px;
  border-bottom: 0;
}

.Shortcut.active {
  background: var(--grey-lightest);
}

.Shortcut.active:hover {
  background-color: var(--grey-lighter);
}
