.ItemHeader {
  display: flex;
}

.ItemHeader a {
  text-decoration: none;
}

.ItemHeader-link {
  padding: 0;
  @variant lg {
    @apply relative flex items-center justify-center text-black no-underline outline-hidden paragraph-2;
  }
}

.ItemHeader-link:after {
  @apply h-[2px] w-full bg-theme-dark bottom-0 left-0 absolute;
}

.ItemHeader-link:hover:after,
.ItemHeader-link.is-active:after,
.ItemHeader-link.is-open:after,
.ItemHeader-link:focus:after,
.ItemHeader-link:focus-visible:after {
  content: '';
}

.ItemHeader-link:focus-visible,
.ItemHeader-link:focus {
  color: var(--color-theme);
}

.ItemHeader-link.is-open ~ .Submenu {
  display: grid;
  opacity: 1;
}

.ItemHeader-back {
  padding: var(--padding-button-sub);
  @variant lg {
    display: none;
  }
}

.ItemHeader-all {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  order: 9999;
}

@media (width >= theme(--breakpoint-lg)) {
  .Submenu {
    position: absolute;
    top: 100%;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1335px;
    padding: 24px 48px 48px;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    color: var(--color-black);
    opacity: 0;
    display: none;
    transition-behavior: allow-discrete;
    transition-property: display opacity;
    transition-duration: 0.25s;
  }

  .Submenu:after {
    content: '';
    background-color: var(--color-grey-lightest);
    top: 0;
    position: absolute;
    height: 100%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0);
    z-index: -1;
  }

  .Submenu-link {
    font-weight: 600;
    display: block;
  }

  .Submenu-subItemLink {
    padding: 15px 0;
    font-size: var(--font-size-xs);
    display: block;
    line-height: 1;
  }
}

.Submenu-sub {
  margin-top: 24px;
}

@media (width >= theme(--breakpoint-xl)) {
  .Submenu {
    gap: 40px 32px;
  }
}
