.CrossSelling {
  display: flex;
  gap: 1rem;
  overflow: hidden;

  @variant lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    cursor: initial;
  }
}

.CrossSelling .ProductCard {
  flex: 0 0 auto;
  width: 11.6875rem;

  @variant md {
    flex-grow: 1;
    width: 18rem;
  }

  @variant lg {
    width: initial;

    &:active {
      cursor: initial;
    }
  }
}
