.Footer {
    display: flex;
    flex-direction: column;
    padding: 50px 1.5rem 34px;
    background: var(--theme-lightest);

    @screen md {
        padding: 0 0 45px;
    }

    &-newsletter {
        margin-bottom: 50px;

        @screen md {
            margin-bottom: 0;
            padding-top: 50px;
            padding-left: 50px;
        }

        @screen lg {
            padding-top: 100px;
        }
    }

    &-storeInfos {
        margin-bottom: 30px;

        @screen md {
            margin-bottom: 0;
            padding-left: 40px;
        }
        @screen lg {
            padding-top: 100px;
            padding-bottom: 90px;
        }
    }

    &-socialsWrapper {

        @screen md {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-width: 1px;
            padding: 30px 50px 0;
        }
    }

    &-socials {
        display: flex;
        margin-bottom: 1.25rem;
        justify-content: space-between;
        color: var(--black);
        @screen md {
            margin-bottom: 0;
            gap: 30px;
        }
    }

    &-icon {
        width: 28px;
        height: 28px;
    }
}
