.Category-grid {
  display: grid;
  padding: 24px;
  width: 100%;

  @variant md {
    padding: 24px 48px;
  }
  @variant lg {
    padding: 44px 0;
    grid-template-columns: 240px 1fr;
    gap: 48px;
    margin: auto;
    max-width: calc(theme('screens.lg') - 80px);
  }
  @variant xl {
    gap: 66px;
    max-width: calc(theme('screens.xl') - 84px);
  }
  @variant 2xl {
    grid-template-columns: 310px 1fr;
    max-width: calc(theme('screens.2xl') - 100px);
  }
}
.Category-container {
  margin: auto;
  width: 100%;

  @variant lg {
    max-width: calc(theme('screens.lg') - 80px);
  }
  @variant xl {
    max-width: calc(theme('screens.xl') - 84px);
  }
  @variant 2xl {
    max-width: calc(theme('screens.2xl') - 100px);
  }
}

.CategoryFilters {
  display: block;
  color: var(--color-black);

  @variant lg {
    padding: 0;
    margin-top: 48px;
    transform: none;
    position: relative;
  }
  @variant lg:before {
    @apply hidden;
  }
}

.CategoryFilters-erase {
  @variant lg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.CategoryFilters-erase::empty {
  display: none;
}

.CategoryFilters .filterPill {
  background-color: white;
}

.CategoryFilters .Accordion--filter {
  @apply lg:bg-white;
}

.CategoryFilters .Accordion--filter .Accordion-summary,
.CategoryFilters .Accordion--filter .Accordion-content {
  @apply lg:px-0;
}

.CategoryFilters .Fieldset-group {
  @apply flex flex-col gap-1 lg:divide-y lg:gap-0;
}
