.Product-imageContainer {
  width: 594px;
}
.Product-imageContainer img {
  width: 100%;
}
.ProductGallery-item {
  border: 1px solid transparent;
}
.ProductGallery-item.is-active {
  border: 1px solid var(--theme-dark);
}

.ProductPage {
  color: var(--black);
}

.ProductPage-grid {
  display: grid;
}

@screen lg {
  .ProductPage-grid {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 46px 54px;
  }
}

@screen xl {
  .ProductPage-grid {
    gap: 16px 20px;
  }
}

.ProductPage-gallery {
  order: 1;
  position: relative;
  right: 50%;
  left: 50%;
  order: 1;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
}

@screen sm {
  .ProductPage-gallery {
    position: static;
    width: auto;
    margin: 0;
  }
}

@screen lg {
  .ProductPage-gallery {
    grid-column: 1 / 7;
  }
}

@screen xl {
  .ProductPage-gallery {
    grid-column: 1 / 8;
  }
}

.ProductPage-infos {
  order: 2;
  margin-top: 30px;
}

@screen lg {
  .ProductPage-infos {
    grid-row: 1 / 3;
    grid-column: 7 / 13;
    margin: 0;
  }
}

@screen xl {
  .ProductPage-infos {
    grid-column: 9 / 13;
  }
}

.ProductPage-description {
  order: 3;
}

@screen lg {
  .ProductPage-description {
    grid-column: 1 / 7;
  }
}

@screen xl {
  .ProductPage-description {
    grid-column: 2 / 8;
  }
}

@media screen and (max-width: 640px) {
  .PseSelector .FilterPill {
    display: block;
    border: none;
    width: 100%;
    text-align: left;
  }
  .PseSelector .FilterPill:hover {
    background-color: white;
  }
  .PseSelector .FilterPill:has(:checked),
  .PseSelector .FilterPill.active {
    background-color: white;
    background-image: url('/assets/icons/checkmark.svg');
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: rem-convert(14px) auto;
  }
}

.PseSelector .Fieldset-group {
  @apply grid sm:gap-4;
}

.PseSelector .Fieldset-group li:last-child {
  margin-top: -1px;
}
