.UserMenu {
  @apply paragraph-2;
  color: var(--black);
  text-decoration: none;
  outline: none;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem-convert(64px);
  cursor: pointer;

  @screen md {
    padding: 20px 24px;
  }

  &:hover, &:focus-visible {
    opacity: 0.5;
  }

  &--withIcon {
    justify-content: flex-start;
    text-decoration: underline;
    font-weight: 600;
  }

  &-icon {
    width: rem-convert(28px);
    height: rem-convert(28px);
    display: inline-block;
  }
}
