.Tag {
  font-size: var(--font-size-paragraph-6);
  line-height: var(--line-height-paragraph-5);
  padding: rem-convert(4px) rem-convert(12px);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .Tag {
    @apply paragraph-3;
  }
}

.Tag--withIcon {
  padding: rem-convert(4px) rem-convert(12px) rem-convert(4px) rem-convert(4px);
}

.Tag--action {
  border: 0.5px solid;
  outline: none;
}

.Tag--action:hover {
  background-color: transparent;
}

.Tag--validated {
  background-color: var(--color-validated-lightest);
  color: var(--color-black);
  border: 0.5px solid var(--color-validated);
}

.Tag--validated:focus-visible {
  border: 1px solid var(--color-validated);
}

.Tag--validated .Tag-icon {
  color: var(--color-validated);
}

.Tag--error {
  background-color: var(--color-error-lightest);
  color: var(--color-error-light);
  border-color: var(--color-error);
}

.Tag--error:focus-visible {
  border: 1px solid var(--color-error-dark);
}

.Tag--vermillon {
  background-color: var(--color-theme-light);
  color: var(--color-theme-dark);
  border-color: var(--color-theme);
}

.Tag--vermillon:focus-visible {
  border: 1px solid var(--color-theme-dark);
}

.Tag-icon {
  width: rem-convert(20px);
  height: rem-convert(20px);
  display: inline-block;
  margin-right: rem-convert(2px);
}

.Tag-iconClose {
  width: rem-convert(22px);
  height: rem-convert(22px);
  display: inline-block;
  margin-left: rem-convert(6px);
}
