@import './variables.css';
@import '../assets/css/form.css';
@import '../assets/css/menu.css';
@import '../assets/css/mobileDrawer.css';
@import '../assets/css/slider.css';
@import '../assets/css/form/code.css';
@import '../assets/css/form/delta.css';
@import '../assets/css/form/file.css';
@import '../assets/css/form/filter.css';
@import '../assets/css/form/range.css';
@import './Atoms/Colors/colors.css';
@import './Atoms/Font/font.css';
@import './Atoms/Form/checkbox.css';
@import './Atoms/Form/toggle.css';
@import './Layout/Footer/footer.css';
@import './Layout/Header/Header.css';
@import './Layout/Hero/hero.css';
@import './Layout/ProductGallery/ProductGallery.css';
@import './Layout/PromotionalBanner/promotionalBanner.css';
@import './Layout/Reinsurance/reinsurance.css';
@import './Layout/Review/review.css';
@import './Layout/Subheader/subheader.css';
@import './Molecules/Accordion/accordion.css';
@import './Molecules/Breadcrumb/breadcrumb.css';
@import './Molecules/Dropdown/dropdown.css';
@import './Molecules/Favorite/favorite.css';
@import './Molecules/Fields/FieldInput/fieldInput.css';
@import './Molecules/Fields/FieldNumber/fieldNumber.css';
@import './Molecules/Fields/FieldSelect/fieldSelect.css';
@import './Molecules/Fields/FieldTextArea/FieldTextArea.css';
@import './Molecules/Filters/FilterList/filterList.css';
@import './Molecules/Filters/FilterPill/filterPill.css';
@import './Molecules/Filters/FilterSelect/filterSelect.css';
@import './Molecules/ItemHeader/itemHeader.css';
@import './Molecules/Link/link.css';
@import './Molecules/Modal/Modal.css';
@import './Molecules/OrderTag/OrderTag.css';
@import './Molecules/Pagination/pagination.css';
@import './Molecules/PasswordControls/passwordControls.css';
@import './Molecules/RadioCard/radiocard.css';
@import './Molecules/Score/score.css';
@import './Molecules/Shortcut/Shortcut.css';
@import './Molecules/Tab/tab.css';
@import './Molecules/Tag/Tag.css';
@import './Molecules/Tooltip/tooltip.css';
@import './Molecules/UserMenu/userMenu.css';
@import './Organisms/Card/Article/article.css';
@import './Organisms/Card/PickupPoint/pickupPoint.css';
@import './Organisms/Card/Review/review.css';
@import './Organisms/Card/SelfPromotion/selfPromotion.css';
@import './Organisms/Card/StoreInfo/storeInfo.css';
@import './Organisms/Card/SuggestFilters/suggestFilters.css';
@import './Organisms/Card/Transporter/transporter.css';
@import './Organisms/CategoryCard/categoryCard.css';
@import './Organisms/HeaderNav/HeaderNav.css';
@import './Organisms/Modules/Payment/Payment.css';
@import './Organisms/Reinsurance/reinsurance.css';
@import './Organisms/SearchItem/searchItem.css';
@import './Organisms/SimilarContentCard/similarContentCard.css';
@import './Organisms/SnackBar/snackbar.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('../src/UiComponents/AccountHero/AccountHero.css');
@import url('../src/UiComponents/AddressCard/addressCard.css');
@import url('../src/UiComponents/AddToCartToast/addToCartToast.css');
@import url('../src/UiComponents/Blocks/blocks.css');
@import url('../src/UiComponents/Button/button.css');
@import url('../src/UiComponents/CartItem/CartItem.css');
@import url('../src/UiComponents/CartItemDelete/CartItemDelete.css');
@import url('../src/UiComponents/CatHero/CatHero.css');
@import url('../src/UiComponents/Checkout/checkout.css');
@import url('../src/UiComponents/Checkout/CheckoutSteps/CheckoutSteps.css');
@import url('../src/UiComponents/Checkout/Delivery/DeliveryMode/DeliveryMode.css');
@import url('../src/UiComponents/Checkout/Delivery/HomeDelivery/HomeDelivery.css');
@import url('../src/UiComponents/Checkout/Delivery/PickupDelivery/pickupPointModule.css');
@import url('../src/UiComponents/Checkout/Delivery/StoreDelivery/storeDelivery.css');
@import url('../src/UiComponents/Checkout/PromoCodeForm/PromoCodeForm.css');
@import url('../src/UiComponents/Checkout/Summary/Summary.css');
@import url('../src/UiComponents/CrossSelling/crossSelling.css');
@import url('../src/UiComponents/DeliveryTracking/DeliveryTracking.css');
@import url('../src/UiComponents/HeaderButton/HeaderButton.css');
@import url('../src/UiComponents/InvoiceCard/InvoiceCard.css');
@import url('../src/UiComponents/LangSelect/LangSelect.css');
@import url('../src/UiComponents/OrderCard/OrderCard.css');
@import url('../src/UiComponents/OrderProductCard/orderProductCard.css');
@import url('../src/UiComponents/PaymentCard/PaymentCard.css');
@import url('../src/UiComponents/ProductCard/ProductCard.css');
@import url('../src/UiComponents/SearchBar/searchBar.css');
@import url('../src/UiComponents/SimilarContent/similarContent.css');

body {
  font-family: 'Poppins', 'Roboto', serif;
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

body.locked {
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
}

.bottom-card-buttons {
  display: flex;
  width: 100%;
}

.bottom-card-buttons > * {
  color: var(--black);
  padding: rem-convert(16px);
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  gap: 6px;
  @apply typo-button-small;
}

.bottom-card-buttons > * span {
  width: rem-convert(14px);
  height: rem-convert(14px);
}

.bottom-card-buttons > * {
  border-top: 1px solid var(--grey-lighter);
  border-right: 1px solid var(--grey-lighter);
}

.bottom-card-buttons > *:last-child {
  border-right: none;
}

.underline-with-icon {
  display: flex;
  gap: rem-convert(6px);
  align-items: center;
  text-decoration: underline;
  margin-top: rem-convert(10px);
  margin-bottom: rem-convert(10px);
}

.underline-with-icon svg {
  width: rem-convert(18px);
  height: rem-convert(18px);
}

.step-content {
  display: none;
}

.step-content.active {
  display: block;
}

hr {
  height: 1px;
  color: var(--grey-lighter);
}

footer {
  margin-top: auto;
}

@layer components {
  .reset-drawer {
    all: revert;
  }

  .reset-drawer:before {
    content: none;
  }
  .reset-drawer .MobileDrawer-header {
    display: none;
  }
  .reset-drawer .FilterChoice-label {
    pointer-events: none;
  }
  .reset-drawer + .MobileDrawer-overlay {
    display: none;
  }
}

.AddOrderComment {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
