.Reviews {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @variant md {
    flex-direction: row;
    overflow-x: auto;
    gap: 1.5rem;
  }
  @variant lg {
    cursor: initial;
  }
}

.Reviews .Review {
  @variant md {
    flex-shrink: 0;
    width: 271px;
  }
  @variant md:last {
    margin-right: 3rem;
  }
  @variant lg {
    flex-shrink: 1;
    width: auto;
  }
  @variant lg:last {
    margin-right: 0;
  }

  @variant lg:active {
    cursor: initial;
  }
}
