.Reviews {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@screen md {
  .Reviews {
    flex-direction: row;
    overflow: hidden;
    gap: 1.5rem;
  }

  .Reviews .Review {
    width: 271px;
    flex-shrink: 0;
  }

  .Reviews .Review:last-child {
    margin-right: 3rem;
  }
}

@screen lg {
  .Reviews {
    cursor: initial;
  }

  .Reviews .Review {
    width: auto;
    flex-shrink: 1;
  }
  .Reviews .Review:active {
    cursor: initial;
  }

  .Reviews .Review:last-child {
    margin-right: 0;
  }
}
