:root {
  --padding-button-sub: 22px;
  --padding-top-menu: 82px;
  --padding-x-menu: 55px;
  --padding-button-close: 24px;
}

@media screen and (max-width: theme(--breakpoint-lg)) {
  #Menu {
    @apply fixed inset-0 hidden text-black bg-white;
  }

  #Menu .Header-navigation {
    @apply relative h-full;
  }

  #Menu ul {
    @apply flex flex-col items-stretch gap-0 pb-(--header-nav-height) pt-(--padding-top-menu) justify-start;

    padding-right: calc(var(--padding-x-menu) - var(--padding-button-sub));
    padding-left: var(--padding-x-menu);
  }

  #Menu ul li {
    @apply flex items-center justify-between text-lg font-semibold;

    line-height: var(--line-height-paragraph-1);
    gap: calc(30px - var(--padding-button-sub));
  }

  #Menu ul .Submenu-link,
  #Menu ul .ItemHeader-link {
    @apply py-(--padding-button-sub);
  }

  #Menu ul svg {
    @apply w-[28px];
  }
  #Menu ul ul {
    @apply hidden fixed bg-white left-0 right-0 top-(--padding-top-menu) bottom-(--header-nav-height) pt-0;
  }

  #Menu ul ul.is-active {
    @apply flex;
  }

  #Menu.is-open {
    @apply block h-full;
  }
}

[data-menu-close] {
  @apply block lg:hidden p-(--padding-button-close) absolute right-0 top-0 z-10;
}

[data-menu-close] svg {
  @apply w-[32px];
  color: var(--color-grey-dark);
}

[data-menu-back] {
  @apply lg:hidden p-(--padding-button-close) absolute  top-0 z-10 -translate-y-1/2;

  left: calc(var(--padding-x-menu) - var(--padding-button-close));
  top: calc(var(--padding-top-menu) / 2);
}

[data-menu-back] svg {
  @apply w-[28px];
}

[data-menu-back='-1'] {
  display: none;
}
