.wysiwyg {
  color: var(--black);

  h1 {
    font-size: var(--font-size-h1-m);
    font-weight: var(--font-weight-h1);
    line-height: var(--line-height-h1-m);
    font-family: var(--font-family-heading);
    margin-bottom: 20px;
    @screen lg {
      font-size: var(--font-size-h1-d);
      line-height: var(--line-height-h1-d);
    }
  }
  h2 {
    font-size: var(--font-size-h2-m);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2-m);
    font-family: var(--font-family-heading);
    margin-bottom: 16px;
    @screen lg {
      font-size: var(--font-size-h2-d);
      line-height: var(--line-height-h2-d);
    }
  }
  h3 {
    font-size: var(--font-size-h3-m);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3-m);
    font-family: var(--font-family-heading);
    margin-bottom: 12px;
    @screen lg {
      font-size: var(--font-size-h3-d);
      line-height: var(--line-height-h3-d);
    }
  }
  h4 {
    font-size: var(--font-size-h4-m);
    font-weight: var(--font-weight-h4);
    line-height: var(--line-height-h4-m);
    margin-bottom: 10px;
    @screen lg {
      font-size: var(--font-size-h4-d);
      line-height: var(--line-height-h4-d);
    }
  }
  h5 {
    font-size: var(--font-size-h5-m);
    font-weight: var(--font-weight-h5);
    line-height: var(--line-height-h5-m);
    margin-bottom: 8px;
    @screen lg {
      font-size: var(--font-size-h5-d);
      line-height: var(--line-height-h5-d);
    }
  }
  h6 {
    font-size: var(--font-size-h6-m);
    font-weight: var(--font-weight-h6);
    line-height: var(--line-height-h6-m);
    margin-bottom: 8px;
    @screen lg {
      font-size: var(--font-size-h6-d);
      line-height: var(--line-height-h6-d);
    }
  }

  hr {
    color: var(--grey-light);
  }

  li {
    margin-bottom: 8px;
    line-height: 1.6;
    position: relative;
    padding-left: 5px;
  }

  ul li {
    list-style-type: disc;
    margin-left: 40px;
  }
  ul {
    margin-top: 20px;
  }

  ol li {
    list-style-type: decimal;
    margin-left: 20px;
  }

  ul ul li,
  ol ol li {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  ul li::marker,
  ol li::marker {
    color: var(--theme);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }
}
