.ProductGallery {
  --height: 460px;
  position: relative;

  @variant md {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: var(--height);
    gap: 20px;
    width: auto;
    margin: 0;
  }
}
.ProductGallery-main {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  grid-column: 1 /-1;
  height: 100%;
  @variant lg {
    grid-column: 2 /7;
  }
}

.ProductGallery-list {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(calc(-100% - 1rem), 0);
  width: 54px;
  margin-top: -20px;
  scrollbar-width: none;
  overflow: auto;
  @variant md {
    display: block;
  }
  @variant lg {
    position: relative;
    width: auto;
    transform: none;
  }
}

.ProductGallery-list > ul {
  display: flex;
  flex-direction: column;
}
.ProductGallery-list:before,
.ProductGallery-list:after {
  background: linear-gradient(#fff, 45%, transparent);
  content: '';
  display: block;
  height: 20px;
  position: sticky;
  top: 0;
  width: 100%;
}
.ProductGallery-list:after {
  background: linear-gradient(180deg, transparent, 45%, #fff);
  bottom: 0;
  top: auto;
}
.ProductGallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid transparent;
  aspect-ratio: 1/1;
}
.ProductGallery-item:focus-within,
.ProductGallery-item.is-active {
  border-color: var(--color-theme);
}
.ProductGallery-thumbnail {
  width: 100%;
  cursor: pointer;
}
.ProductGallery-thumbnail:focus {
  outline: none;
}
.ProductGallery .splide {
  position: static;
  max-height: 100%;
  width: 100%;
}
.ProductGallery .splide img {
  max-height: var(--height);
}
.ProductGallery .splide__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -14px);
}
.ProductGallery .splide__pagination li {
  display: flex;
}
.ProductGallery .splide__pagination__page {
  width: 6px;
  height: 6px;
  margin: 4px;
  background-color: var(--color-black);
  opacity: 0.3;
  border-radius: 50%;
}
.ProductGallery .splide__pagination__page.is-active {
  transform: scale(1.33);
  opacity: 1;
}
.ProductGallery .splide__arrows {
  align-items: center;
  justify-content: end;
  gap: 8px;
  display: none;
  @variant sm {
    display: flex;
  }
}

.ProductGallery .splide__arrow {
  position: static;
  box-sizing: content-box;
  padding: 16px 24px;
  color: var(--color-black);
  background: none;
  border-radius: 0;
  transform: none;
  opacity: 1;
}
.ProductGallery .splide__arrow:disabled {
  opacity: 0.5;
}
.ProductGallery .splide__arrow svg {
  width: 24px;
  height: 12px;
}
.ProductGallery .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-js .splide {
  visibility: visible;
}

.no-js .splide__slide {
  max-width: 100%;
}

.no-js .splide__arrows {
  display: none;
}
