@utility catHero {
  padding: 120px 24px 40px;
  position: relative;
  background-color: var(--color-theme-lightest);

  @media (width >= theme(--breakpoint-md)) {
    padding: 80px 0 40px;
  }
}

@utility catHero-breadcrumb {
  position: absolute;
  top: 20px;
  left: 12px;
  right: 20px;

  @media (width >= theme(--breakpoint-md)) {
    left: 24px;
    right: 24px;
  }

  @media (width >= theme(--breakpoint-lg)) {
    left: 50px;
    right: 50px;
  }
}
