.SimilarContents {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @variant md {
    flex-direction: row;
    overflow: hidden;
  }
  @variant lg {
    display: grid;
    cursor: initial;
    grid-template-columns: repeat(2, 1fr);
  }
  @variant xl {
    @apply container mx-auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.SimilarContents .SimilarContentCard {
  @variant md {
    width: 340px;
    flex-shrink: 0;
  }
  @variant lg {
    width: initial;
  }
  @variant xl {
    width: initial;
    flex-shrink: 0;
  }

  @variant md:last {
    margin-right: 3rem;
  }
  @variant lg:last {
    margin-right: 0;
  }
  @variant lg:active {
    cursor: initial;
  }
}
