.PromotionalBanner {
  position: relative;
  padding: rem-convert(32px) rem-convert(24px);
  background: var(--color-theme-medium);
  display: flex;
  justify-content: center;
}
.PromotionalBanner.hidden {
  display: none;
}
.PromotionalBanner-header {
  position: absolute;
  top: 0;
  right: 0;
  padding: rem-convert(4px);
}
.PromotionalBanner-close {
  width: rem-convert(32px);
  height: rem-convert(32px);
}
.PromotionalBanner-content {
  color: var(--color-black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: rem-convert(16px);
  align-items: flex-start;
  @variant md {
    max-width: rem-convert(1110px);
  }
}

.PromotionalBanner-content--button {
  @variant md {
    flex-direction: row;
    gap: rem-convert(48px);
    align-items: center;
  }
}

.PromotionalBanner-button {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: rem-convert(200px);
}
.PromotionalBanner-message {
  @apply h6;
}
