.ToggleButton {
  --on-color: var(--color-black);
  --off-color: var(--color-grey);
  --on-color-hover: var(--grey-dark);
  --off-color-hover: var(--color-black);
  --color-disabled: var(--color-grey-lighter);

  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.ToggleButton-wrapper {
  background: var(--off-color);
  width: 25px;
  height: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  @apply rounded-full transition-colors duration-200 ease-in-out;
}
.ToggleButton-wrapper span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: var(--color-white);
  @apply translate-x-[0.1rem];
  @apply rounded-full transition duration-200 ease-in-out;
}
.ToggleButton input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.ToggleButton input:checked ~ .ToggleButton-wrapper {
  background: var(--on-color);
}
.ToggleButton input:checked ~ .ToggleButton-wrapper span {
  @apply translate-x-[0.8rem];
}
.ToggleButton input:focus-visible ~ .ToggleButton-wrapper {
  outline: var(--color-checkbox-focus) solid 1px;
  outline-offset: 1px;
}
.ToggleButton input:disabled ~ .ToggleButton-wrapper {
  background: var(--color-disabled);
}
.ToggleButton:hover .ToggleButton-wrapper {
  background: var(--off-color-hover);
}
.ToggleButton:hover input:checked ~ .ToggleButton-wrapper {
  background: var(--on-color-hover);
}
