.PickupPointModule {
  background: var(--color-theme-lightest);
  border: 1px solid var(--color-theme-lightest);
  border-radius: rem-convert(8px);
}

.PickupPointModule.selected {
  border: 1px solid var(--color-theme-medium);
}

.PickupPointModule.selected .PickupPointModule-content {
  background: var(--color-theme-lighter);
  border-top-left-radius: rem-convert(8px);
  border-top-right-radius: rem-convert(8px);
}

.PickupPointModule.selected .PickupPointModule-searchZone {
  display: block;
  padding: rem-convert(16px);
  padding-top: rem-convert(30px);
}

@media (width >= theme(--breakpoint-md)) {
  .PickupPointModule.selected .PickupPointModule-searchZone {
    padding: rem-convert(40px);
  }
}

.PickupPointModule-content {
  display: flex;
  align-items: flex-start;
  padding: rem-convert(16px);
}

.PickupPointModule-content > span:last-child {
  flex-grow: 1;
}

.PickupPointModule-content .radio {
  margin-top: 4px;
  margin-right: 8px;
}

.PickupPointModule-content span:not(.PickupPointModule-top):not(.Tag) {
  display: block;
}

.PickupPointModule-content .PickupPointModule-top {
  display: flex;
  justify-content: space-between;
}

.PickupPointModule-title {
  @apply paragraph-1;
  font-weight: 600;
  color: var(--color-black);
}

.PickupPointModule-description {
  @apply paragraph-6;
  color: var(--color-grey);
  margin-top: rem-convert(4px);
}

.PickupPointModule-price {
  @apply paragraph-4;
  font-weight: 600;
  color: var(--color-black);
}

@media (768px >= width) {
  .PickupPointModule-buttonView {
    @apply button--small button--fill;
  }
}
