.filterPill {
  @apply paragraph-4;
  padding: rem-convert(8px) rem-convert(10px);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: var(--grey-dark);
  border: 1.5px solid var(--color-theme-light);
  cursor: pointer;
}

.filterPill:hover {
  background-color: var(--color-theme-lightest);
}

.filterPill--withIcon {
  padding: rem-convert(8px) rem-convert(10px) rem-convert(8px) rem-convert(4px);
}

.filterPill-iconClose {
  width: rem-convert(20px);
  height: rem-convert(20px);
  margin-left: rem-convert(4px);
}

.filterPill:has(:checked),
.filterPill.active {
  background-color: var(--color-theme-light);
  border: 1.5px solid var(--color-theme-medium);
}

.filterPill:has(:checked) .filterPill-iconClose,
.filterPill.active .filterPill-iconClose {
  display: inline-block;
}

.filterPill-icon {
  width: rem-convert(21px);
  height: rem-convert(21px);
  display: inline-block;
  margin-right: rem-convert(4px);
}

.filterPill:disabled {
  border-color: var(--color-grey-lighter);
  color: var(--color-grey-lighter);
  cursor: not-allowed;
  background-color: var(--color-grey-lightest);
}

.filterPill:disabled .filterPill-icon {
  opacity: 0.2;
}
