@utility checkout-main {
  margin-bottom: rem-convert(36px);
  margin-top: rem-convert(50px);
  display: flex;
  justify-content: center;
  padding: 0 rem-convert(30px);
}

@utility checkout-main-header {
  @apply text-right mb-1;
  display: none;
  @media (width >= theme(--breakpoint-sm)) {
    display: block;
  }
}

@utility checkout-main-container {
  flex: 1;
  max-width: rem-convert(444px);
  @media (width >= theme(--breakpoint-lg)) {
    max-width: rem-convert(540px);
  }
}

@utility checkout-sidebar {
  background-color: var(--color-theme-light);
  display: flex;
  justify-content: center;
  padding: rem-convert(80px) rem-convert(30px);

  & h2 {
    padding-bottom: rem-convert(16px);
  }
}

@utility checkout-sidebar-container {
  flex: 1;
  max-width: rem-convert(444px);

  @media (width >= theme(--breakpoint-md)) {
    max-width: rem-convert(328px);
  }

  @media (width >= theme(--breakpoint-lg)) {
    max-width: rem-convert(400px);
  }
}
