.Checkout {

  &-main {
    margin-bottom: rem-convert(36px);
    margin-top: rem-convert(50px);
    display: flex;
    justify-content: center;
    padding: 0 rem-convert(30px);
    &-header {
      @apply text-right mb-1;
      display: none;
      @screen sm {
        display: block;
      }
    }
    &-container {
      flex: 1;
      max-width: rem-convert(444px);
      @screen lg {
        max-width: rem-convert(540px);
      }
    }
  }

  &-sidebar {
    background-color: var(--theme-light);
    display: flex;
    justify-content: center;
    padding: rem-convert(80px) rem-convert(30px);
    h2 {
      padding-bottom: rem-convert(16px);
    }

    &-container {
      flex: 1;
      max-width: rem-convert(444px);
      @screen md {
        max-width: rem-convert(328px);
      }
      @screen lg {
        max-width: rem-convert(400px);
      }
    }
  }
}
