.CrossSelling {
  display: flex;
  gap: rem-convert(16px);
  overflow: hidden;

  @variant lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem-convert(24px);
    cursor: initial;
  }
  @variant xl {
    gap: rem-convert(32px);
  }
}

.CrossSelling .productCard {
  flex: 0 0 auto;
  width: rem-convert(187px);
  @variant md {
    flex-grow: 1;
    width: rem-convert(288px);
  }
  @variant lg {
    width: initial;
    &:active {
      cursor: initial;
    }
  }
}
