@import "./variables.css";
@import "tailwindcss";

@source "../../components";

@import "../../components/Atoms/Typography/Typography.css";

@import "../../components/Fields/Input/Base.css";
@import "../../components/Fields/Input/Password.css";
@import "../../components/Fields/Checkbox/Base.css";
@import "../../components/Fields/Select/Base.css";
@import "../../components/Fields/Toggle/Base.css";

@import "../../components/Molecules/Button/Base.css";
@import "../../components/Molecules/Link/Base.css";
@import "../../components/Molecules/Tabulation/Base.css";
@import "../../components/Molecules/Tag/Base.css";
@import "../../components/Molecules/Tag/StockTag.css";
@import "../../components/Molecules/Tag/OrderTag.css";
@import "../../components/Molecules/Pagination/Base.css";
@import "../../components/Molecules/Breadcrumb/Base.css";
@import "../../components/Molecules/Score/Base.css";
@import "../../components/Molecules/Tooltip/Base.css";
@import "../../components/Molecules/Favorite/Base.css";

@import "../../components/Molecules/MenuItem/Base.css";
@import "../../components/Molecules/HeaderButton/Base.css";

@import "../../components/Organisms/ProductCard/Base.css";
@import "../../components/Organisms/ProductCard/Order.css";
@import "../../components/Organisms/HeaderMenuItem/Base.css";

@source "../../partials";

body {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  &.locked {
    overflow: hidden;
  }
}
