.Review {
  background-color: var(--color-white);
  padding: rem-convert(16px);
  border-radius: 8px;
}

.Review-author {
  @apply paragraph-5;
  margin-bottom: rem-convert(8px);
  color: var(--color-grey);
}

.Review-review {
  @apply paragraph-3;
  margin-bottom: rem-convert(16px);
}

.Review-footer {
  display: flex;
  justify-content: space-between;
}

.Review-date {
  @apply indication;
  color: var(--color-grey);
}
