.ReinsuranceModule {
  background: var(--color-white);
  --spacer: 24px;
  @variant md {
    --spacer: 10px;
  }
  @variant lg {
    --spacer: 54px;
  }
}

.ReinsuranceModule-wrapper {
  max-width: rem-convert(1082px);
  margin: 0 auto;
  padding: rem-convert(40px) rem-convert(24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-grey);

  @variant md {
    flex-direction: row;
  }
}

.ReinsuranceModule-wrapper strong {
  @apply paragraph-4;
  font-weight: 700;
  display: block;
  color: var(--color-black);
}

.ReinsuranceModule-wrapper > div {
  display: flex;
  gap: rem-convert(12px);
  @variant md {
    max-width: calc(100% / 3);
  }
}

.ReinsuranceModule-wrapper > div:first-child {
  padding: 0 0 var(--spacer);
  @variant md {
    padding: 0 var(--spacer) 0 0;
  }
}

.ReinsuranceModule-wrapper > div:nth-child(2) {
  border: solid var(--color-grey-lighter);
  border-width: 1px 0;

  padding: var(--spacer) 0;

  @variant md {
    border-width: 0 1px;
    padding: 0 var(--spacer);
  }
}

.ReinsuranceModule-wrapper > div:last-child {
  padding: var(--spacer) 0 0;

  @variant md {
    padding: 0 0 0 var(--spacer);
  }
}

.ReinsuranceModule-text {
  @apply paragraph-6;
}

.ReinsuranceModule-icon {
  display: inline-block;
  width: rem-convert(36px);
  height: rem-convert(36px);
  color: var(--color-grey);
  flex-shrink: 0;
}
