.CheckoutSteps {
  background: var(--theme-lightest);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--theme-medium);
  padding: 0 20px;
  height: rem-convert(60px);
  justify-content: space-between;

  &-steps {
    display: flex;
    align-items: center;
  }

  &-mobile {
    display: block;
  }
  @screen xs {
    justify-content: center;
    padding: 0;
    height: rem-convert(98px);

    &-mobile {
      display: none;
    }

    &-steps {
      gap: rem-convert(60px);
    }


  }
}

.Step {
  @apply paragraph-4;
  align-items: center;
  gap: rem-convert(6px);
  position: relative;
  color: var(--grey);
  display: none;

  &-label {
    display: none;
  }

  &-number {
    height: rem-convert(24px);
    width: rem-convert(24px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-medium);

    &:after {
      content: "";
      position: absolute;
      height: rem-convert(27px);
      width: rem-convert(27px);
      border-radius: 50%;
      background: conic-gradient(
        var(--theme-medium) 0% var(--p), /* Bordure couvrant 25% */
        transparent var(--p) 100% /* Reste transparent */
      );
      -webkit-mask: radial-gradient(circle, transparent calc(50% - 1px), black calc(50% - 1x)); /* Bordure de 2px env */
      mask: radial-gradient(circle, transparent calc(50% - 1px), black calc(50% - 1px));
      z-index: 5;

      @screen xs {
        content: none;
      }

    }

  }

  &.current {
    display: flex;
    color: var(--grey-dark);



    .Step-label {
      display: inline-block;
      @apply paragraph-4;
      font-weight: 600;
      padding-left: rem-convert(6px);
    }
  }
  &.previous {
    .Step-number {
      background-color: var(--theme-light);
    }
  }


  @screen md {
    &-label {
      display: inline-block;
    }
  }

  @screen xs {
    display: flex;
    &.current {
      color: var(--black);
      .Step-number {
        background-color: var(--theme-medium);
      }
      .Step-label {
        font-weight: 400;
        padding-left: rem-convert(2px);
      }
    }

    &:not(:first-child):before {
      content: "";
      width: 50px;
      height: 1px;
      position: absolute;
      left: -50px;
      background-color: var(--theme-medium);
    }
  }
}
