.OrderProductCard {
  position: relative;
  justify-content: space-between;
  @apply rounded-lg;
  background-color: var(--color-theme-lightest);
  display: flex;
  flex-direction: row;
  max-width: initial;
  align-items: center;
  border: 1px solid var(--color-theme-medium);
  padding: 8px;
}
@media (width >= theme(--breakpoint-sm)) {
  .OrderProductCard {
    max-width: 540px;
  }
}
.OrderProductCard-header {
  display: none;
}
.OrderProductCard-mainContent {
  display: flex;
  align-items: center;
}
.OrderProductCard-img {
  height: 130px;
  width: 112px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}
.OrderProductCard-img img {
  object-fit: cover;
}
@media (width >= theme(--breakpoint-sm)) {
  .OrderProductCard-img {
    height: 112px;
  }
}
.OrderProductCard-secondaryTitle {
  display: block;
}
.OrderProductCard-desc {
  margin-right: auto;
  padding: 0;
  margin-left: 19px;
}
.OrderProductCard-title {
  @apply paragraph-2;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-black);
  text-decoration: none;
  transition: inherit;
  display: inline-block;
}
.OrderProductCard-orderInfos {
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  padding-bottom: rem-convert(6px);
}
@media (width >= theme(--breakpoint-sm)) {
  .OrderProductCard-orderInfos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.OrderProductCard-orderInfos span:not(:last-child):after {
  content: '';
}
@media (width >= theme(--breakpoint-sm)) {
  .OrderProductCard-orderInfos span:not(:last-child):after {
    content: ',\00a0';
  }
}
.OrderProductCard-originalPrice {
  color: var(--color-black);
  font-size: var(--font-size-paragraph-7);
  text-decoration-line: line-through;
  font-family: var(--font-family-paragraph-6);
}
.OrderProductCard-price {
  @apply paragraph-4;
  font-weight: 600;
  color: var(--color-black);
  position: relative;
  line-height: normal;
  margin-top: 0;
}
.OrderProductCard-footer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.OrderProductCard:hover .productCard-img img,
.OrderProductCard:focus-visible .productCard-img img {
  transform: scale(1.075);
}
