.Input-togglePassword {
  position: relative;
}

.Input-togglePassword.is-visible:before {
  content: '';
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  background-color: var(--color-grey-dark);
  border: 0.5px solid white;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 0.5rem;
}

.PasswordCriteria {
  display: none;
  margin-top: 1.5rem;
  @apply paragraph-5;
  color: var(--color-grey-dark);
}

.PasswordCriteria > ul {
  margin-top: 0.1875rem;
}

.PasswordCriteria li:before {
  content: '';
  display: inline-block;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 100%;
  margin-right: 0.375rem;
  border: 1px solid var(--color-grey-dark);
}

.PasswordCriteria li.valid:before {
  border-color: var(--color-success-dark);
  background-color: var(--color-success-dark);
}
