.OrderCard {
  max-width: rem-convert(616px);
  background: var(--theme-lightest);
  padding: rem-convert(40px) rem-convert(25px) rem-convert(45px)
    rem-convert(23px);
}

.OrderCard-title {
  color: var(--black);
  @apply h5 mb-1;
}

.OrderCard-date {
  color: var(--grey);
  @apply paragraph-3;
}

.OrderCard-delivery {
  color: var(--grey-dark);
  font-family: 'Roboto', serif;
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: rem-convert(20px);
}

.OrderCard-images {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: rem-convert(4px);
  padding: rem-convert(4px);
  gap: rem-convert(4px);
  box-shadow: 0 0 8px 0 rgba(84, 84, 84, 0.15);
  counter-reset: nbOrderImages;
}

.OrderCard-image {
  width: rem-convert(72px);
  height: rem-convert(72px);
  object-fit: contain;
}

.OrderCard-image:nth-child(6) ~ .OrderCard-image {
  counter-increment: nbOrderImages;
  position: absolute;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
}

@screen 2xl {
  .OrderCard-image:not(:nth-child(n + 7)):nth-last-child(2)
    ~ .OrderCard-nbImages {
    display: none;
  }
}

@screen maxSm {
  .OrderCard-image:nth-child(2) ~ .OrderCard-image {
    counter-increment: nbOrderImages;
    position: absolute;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
  }
  .OrderCard-image:not(:nth-child(n + 3)):nth-last-child(2)
    ~ .OrderCard-nbImages {
    display: none;
  }
}

@screen maxXs {
  .OrderCard-image:nth-child(3) ~ .OrderCard-image {
    counter-increment: nbOrderImages;
    position: absolute;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
  }
  .OrderCard-image:not(:nth-child(n + 4)):nth-last-child(2)
    ~ .OrderCard-nbImages {
    display: none;
  }
}

@screen max2xl {
  .OrderCard-image:nth-child(4) ~ .OrderCard-image {
    counter-increment: nbOrderImages;
    position: absolute;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
  }
  .OrderCard-image:not(:nth-child(n + 5)):nth-last-child(2)
    ~ .OrderCard-nbImages {
    display: none;
  }
}

.OrderCard-nbImages {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrderCard-nbImages:before {
  content: '+' counter(nbOrderImages);
}
