@utility orderCard {
  max-width: rem-convert(616px);
  background: var(--color-theme-lightest);
  padding: rem-convert(40px) rem-convert(25px) rem-convert(45px)
    rem-convert(23px);
}

@utility orderCard-title {
  color: var(--color-black);
  @apply h5 mb-1;
}

@utility orderCard-date {
  color: var(--color-grey);
  @apply paragraph-3;
}

@utility orderCard-delivery {
  color: var(--grey-dark);
  font-family: 'Roboto', serif;
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: rem-convert(20px);
}

@utility orderCard-images {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-white);
  border-radius: rem-convert(4px);
  padding: rem-convert(4px);
  gap: rem-convert(4px);
  box-shadow: 0 0 8px 0 rgba(84, 84, 84, 0.15);
  counter-reset: nbOrderImages;
}

@utility orderCard-image {
  width: rem-convert(72px);
  height: rem-convert(72px);
  object-fit: contain;

  &:nth-child(6) ~ & {
    counter-increment: nbOrderImages;
    position: absolute;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
  }

  @media (width >= theme(--breakpoint-2xl)) {
    &:not(:nth-child(n + 7)):nth-last-child(2) ~ .orderCard-nbImages {
      display: none;
    }
  }

  @media (390px >= width) {
    &:nth-child(2) ~ & {
      counter-increment: nbOrderImages;
      position: absolute;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      opacity: 0;
    }
    &:not(:nth-child(n + 3)):nth-last-child(2) ~ .orderCard-nbImages {
      display: none;
    }
  }

  @media (321px >= width) {
    &:nth-child(3) ~ & {
      counter-increment: nbOrderImages;
      position: absolute;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      opacity: 0;
    }
    &:not(:nth-child(n + 4)):nth-last-child(2) ~ .orderCard-nbImages {
      display: none;
    }
  }

  @media (1680px >= width) {
    &:nth-child(4) ~ & {
      counter-increment: nbOrderImages;
      position: absolute;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      opacity: 0;
    }
    &:not(:nth-child(n + 5)):nth-last-child(2) ~ .orderCard-nbImages {
      display: none;
    }
  }
}

@utility orderCard-nbImages {
  @media (width >= theme(--breakpoint-2xl)) {
    .orderCard-image:not(:nth-child(n + 7)):nth-last-child(2) ~ & {
      display: none;
    }
  }

  @media (390px >= width) {
    .orderCard-image:not(:nth-child(n + 3)):nth-last-child(2) ~ & {
      display: none;
    }
  }

  @media (321px >= width) {
    .orderCard-image:not(:nth-child(n + 4)):nth-last-child(2) ~ & {
      display: none;
    }
  }

  @media (1680px >= width) {
    .orderCard-image:not(:nth-child(n + 5)):nth-last-child(2) ~ & {
      display: none;
    }
  }
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '+' counter(nbOrderImages);
  }
}
