.CartItemDelete {
  border-radius: 4px;
  background-color: var(--grey-lightest);
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.CartItemDelete-mainContent {
  display: flex;
  column-gap: 18px;
  align-items: center;
  flex-direction: row;
}

.CartItemDelete-img {
  display: flex;
  height: 88px;
}

.CartItemDelete-img img {
  object-fit: cover;
}

.CartItemDelete-iconClose {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 23px;
  cursor: pointer;
}

.CartItemDelete-desc {
  flex-grow: 1;
  padding: 0;
  padding-top: 10px;
  align-items: center;
}

@screen sm {
  .CartItemDelete-desc {
    padding: 0;
    padding-right: 8px;
  }
}
