.SimilarContentCard {
  display: flex;
  background: var(--white);
  border-radius: rem-convert(8px);
}
.SimilarContentCard-img {
  width: rem-convert(98px);
  height: 100%;
}
.SimilarContentCard-img img {
  border-top-left-radius: rem-convert(8px);
  border-bottom-left-radius: rem-convert(8px);
  object-fit: cover;
  height: 100%;
}
.SimilarContentCard-title {
  @apply paragraph-2;
  font-weight: 700;
  color: var(--black);
  margin-bottom: rem-convert(8px);
}
.SimilarContentCard-footer {
  @apply paragraph-6;
  color: var(--grey);
}
.SimilarContentCard-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem-convert(13px) rem-convert(16px);
}
