.favorite {
  display: flex;
  align-items: center;
  gap: rem-convert(6px);
  background: var(--color-white);
  padding: rem-convert(4px) rem-convert(8px);
  border-radius: rem-convert(8px);
}

.favorite .star {
  width: rem-convert(16px);
  height: rem-convert(16px);
  color: var(--color-grey-lighter);
}

.favorite .text {
  @apply indication indication-small;
}

.favorite.selected {
  pointer-events: none;
}

.favorite.selected .star {
  color: var(--color-theme);
}
