.RadioCard {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 0.5rem;
  --current-checkbox-color: var(--black);
  --current-checkbox-hover: var(--grey-dark);
  --current-checkbox-disabled: var(--grey-lighter);
  padding: rem-convert(16px) rem-convert(24px);
  border: 1px solid var(--current-checkbox-disabled);
  border-radius: rem-convert(8px);
  width: fit-content;
}

.RadioCard:hover {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey);
}

.RadioCard:has(.RadioCard-input:focus-visible) {
  border: 1px solid var(--theme-medium);
}

.RadioCard:has(.RadioCard-input[disabled]) {
  border: 1px solid var(--current-checkbox-disabled);
  cursor: not-allowed;
}

.RadioCard:has(.RadioCard-input[disabled]) .RadioCard-label {
  color: var(--current-checkbox-disabled);
}

.RadioCard:has(.RadioCard-input[disabled]) .RadioCard-checkmark {
  border: 1px solid var(--current-checkbox-disabled);
}

.RadioCard:has(.RadioCard-input[disabled]):hover {
  background-color: transparent;
}

.RadioCard:has(.RadioCard-input[disabled]) .RadioCard-checkmark:after {
  background-color: var(--current-checkbox-disabled);
}

.RadioCard-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.RadioCard-input:checked ~ .RadioCard-checkmark:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: var(--current-checkbox-color);
}

.RadioCard-label {
  @apply typo-button-large;
  color: var(--current-checkbox-color);
}

.RadioCard-checkmark {
  border-radius: 50%;
  width: rem-convert(12px);
  height: rem-convert(12px);
  border: 1px solid var(--current-checkbox-color);
  position: relative;
  background-color: var(--white);
}
