.Payment {
  background: var(--theme-lightest);
  border: 1px solid var(--theme-lightest);
  border-radius: rem-convert(8px);
  max-width: rem-convert(340px);
}

@screen lg {
  .Payment {
    max-width: rem-convert(540px);
  }
}

.Payment.selected {
  background: var(--theme-lighter);
  border: 1px solid var(--theme-medium);
}

.Payment label {
  cursor: pointer;
}

.Payment-title {
  @apply paragraph-2;
  font-weight: 600;
  color: var(--black);
}

.Payment-content {
  display: flex;
  align-items: flex-start;
  padding: rem-convert(16px);
}

.Payment-content span {
  display: block;
}

.Payment-content > span:last-child {
  flex-grow: 1;
}

.Payment-content .Radio {
  margin-top: 4px;
  margin-right: 8px;
}

.Payment-bottom {
  border-radius: 0 0 rem-convert(8px) rem-convert(8px);
  padding: rem-convert(16px);
}
