.RootToast {
  position: fixed;
  bottom: calc(var(--header-nav-height) + 1rem);
  right: 3rem;
  left: 3rem;

  @screen lg {
    bottom: 3rem;
    right: 3rem;
    left: initial;
  }

  .SnackBar + .SnackBar {
    margin-top: 1rem;
  }
}
