.Summary {
  --border-radius: 4px;
}
.Summary-list,
.Summary-footer {
  padding-right: rem-convert(20px);
  padding-left: rem-convert(20px);
}
.Summary-list {
  background: var(--white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding-top: rem-convert(8px);
}
.Summary-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem-convert(15px);
  padding-bottom: rem-convert(15px);
  gap: 1rem;
}
.Summary-line > div:last-child {
  max-width: 120px;
  text-align: right;
  @apply paragraph-5;
  color: var(--grey-dark);
}
.Summary-line > div:first-child {
  @apply paragraph-4;
  color: var(--black);
  font-weight: 600;
}
.Summary-line {
  border-bottom: 1px solid var(--grey-lighter);
}
.Summary-line:last-child {
  border-bottom: none;
}
.Summary-footer {
  background: var(--theme-medium);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  @apply paragraph-5;
  padding-bottom: rem-convert(20px);
  color: var(--black);
}
.Summary-total {
  display: flex;
  justify-content: space-between;
  padding-top: rem-convert(20px);
  padding-bottom: rem-convert(8px);
  @apply paragraph-4;
  color: var(--black);
  font-weight: 600;
}
.Summary-total > div:last-child {
  text-align: right;
}
.Summary .FilterPill-icon {
  color: var(--theme-dark);
}

.Summary-promo {
  @apply mb-4;
}
