@utility summary {
  --border-radius: 4px;
  & .filterPill-icon {
    color: var(--color-theme-dark);
  }
}

@utility summary-list {
  padding-right: rem-convert(20px);
  padding-left: rem-convert(20px);
  background: var(--color-white);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding-top: rem-convert(8px);
}

@utility summary-footer {
  padding-right: rem-convert(20px);
  padding-left: rem-convert(20px);
  background: var(--color-theme-medium);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  @apply paragraph-5;
  padding-bottom: rem-convert(20px);
  color: var(--color-black);
}

@utility summary-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem-convert(15px);
  padding-bottom: rem-convert(15px);
  gap: 1rem;
  & > div:last-child {
    max-width: 120px;
    text-align: right;
    @apply paragraph-5;
    color: var(--grey-dark);
  }
  & > div:first-child {
    @apply paragraph-4;
    color: var(--color-black);
    font-weight: 600;
  }
  border-bottom: 1px solid var(--color-grey-lighter);
  &:last-child {
    border-bottom: none;
  }
}

@utility summary-total {
  display: flex;
  justify-content: space-between;
  padding-top: rem-convert(20px);
  padding-bottom: rem-convert(8px);
  @apply paragraph-4;
  color: var(--color-black);
  font-weight: 600;
  & > div:last-child {
    text-align: right;
  }
}

@utility filterPill-icon {
  .summary & {
    color: var(--color-theme-dark);
  }
}

@utility summary-promo {
  @apply mb-4;
}
