.Link {
  @apply link-large;
  color: var(--black);
  display: inline-flex;
  align-items: center;
  padding: rem-convert(3px);
  transition: 0.2s ease all;
  outline: 0;
}

.Link:hover {
  color: var(--grey);
}

.Link:focus-visible {
  background-color: var(--grey-lightest);
}

.Link:active {
  color: var(--theme);
}

.Link[disabled] {
  color: var(--grey-lighter);
  cursor: not-allowed;
}

.Link--medium {
  @apply link;
}

.Link-icon {
  width: rem-convert(18px);
  height: rem-convert(18px);
  display: flex;
}
