.Article {
  height: 98px;
  display: flex;
  text-decoration: none;
  border: 1px solid var(--theme-lighter);
  border-radius: rem-convert(8px);
  overflow: hidden;

  &-content {
    padding-right: rem-convert(16px);
    padding-left: rem-convert(16px);
    padding-top: rem-convert(13px);
    padding-bottom: rem-convert(13px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);
    flex-grow: 1;
  }
  &-title {
    @apply paragraph-2;
    font-weight: 700;
  }
  &-date {
    @apply paragraph-6;
    color: var(--grey);
  }

  &:hover &-title {
    text-decoration: underline;
  }
}
