@layer components {
  .CartItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-white);
    @apply rounded-lg;

    background-color: var(--color-theme-lightest);
    border-radius: 0;

    @variant sm {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .CartItem-subTitle {
    color: var(--color-grey);
  }

  .CartItem-header {
    display: none;
  }

  .CartItem-mainContent {
    display: flex;
    padding: 16px;
    padding-bottom: 23px;
    flex-direction: column;
    width: 100%;
    @variant xs {
      flex-direction: row;
      padding: 8px;
      column-gap: 16px;
    }
    @variant lg {
      align-items: center;
    }
  }

  .CartItem-imgLink {
    display: flex;
  }

  .CartItem-img {
    max-width: 100%;
    width: 100%;
    background-color: white;
    @variant sm {
      height: 112px;
    }
  }

  .CartItem-img img {
    max-height: 100%;
    object-fit: contain;
    @variant xs {
      height: 112px;
      max-width: rem-convert(105px);
    }
  }

  .CartItem-title {
    margin-bottom: 5px;
    @apply paragraph-2;
  }

  .CartItem-desc {
    flex-grow: 1;
    padding: 0;
    padding-top: 10px;

    @variant sm {
      padding: 0;
      padding-right: 8px;
    }
  }

  .CartItem-orderInfos {
    flex-direction: column;
    @variant lg {
      flex-direction: row;
      max-width: 80%;
    }
  }

  .CartItem-orderInfos span:not(:last-child):after {
    content: '';
    @variant lg {
      content: '|';
      padding: 0 5px;
    }
  }

  .CartItem-footer {
    margin-top: rem-convert(10px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
  }

  .CartItem-footerRight {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    @variant sm {
      flex-direction: row;
      align-items: center;
    }
  }

  .CartItem-price {
    @apply paragraph-4;
    font-weight: 600;
    color: var(--color-black);
  }

  .CartItem-originalPrice {
    @apply paragraph-7;
    text-decoration: line-through;
    color: var(--color-black);

    @variant sm {
      padding-left: rem-convert(12px);
    }
  }

  @media (width >= theme(--breakpoint-sm)) {
    .CartItem-quantity input {
      width: rem-convert(35px);
    }
  }

  .CartItem-unavailable {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: rem-convert(14px);
    line-height: rem-convert(20px);
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .CartItem-unavailable::before {
    content: '';
    background-color: var(--color-error-light);
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: block;
  }

  .CartItem-CardBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    border-top: 1px solid var(--color-grey-lighter);
    flex-grow: 1;
  }

  .CartItem-CardBottom .button {
    border-radius: 0;
    background-color: transparent;
    display: flex;
    color: var(--color-black);
  }

  .CartItem-CardBottom .button:first-child {
    border-right: 1px solid var(--color-grey-lighter);
  }

  .CartItem-CardBottom .button > span {
    width: 15px;
    height: 15px;
  }

  .CartItem-CardBottom .button svg {
    color: var(--color-black);
  }

  .CartItem-CardBottom .button:hover {
    background-color: transparent !important;
    text-decoration: underline;
  }

  .CartItem--outOfStock {
    background-color: var(--color-grey-lightest);
  }
}
